@media (max-width: 768px) {
    Link{
        text-decoration: none;
    }
    #section {
        display: none;
    }

    #market,
    #footer {
        border: 1px solid black;
        padding: 5px;
    }

    #market {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        ;
    }

    #tarjeta {
        padding: 5px;
    }

    .imagenDetalle{
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }

    #imagenTarjeta {
        width: 100%;
        height: 25vh;
        object-fit: cover;
    }

    #login{
        margin: 30vh 15px 30vh 15px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 2%;
    }

    #footer {
        position: fixed;
        width: 100%;
        text-align: center;
        bottom: 0;
        margin-bottom: 45px;
    }

    #menuContainer {
        position: fixed; 
        bottom: 0;
        width: 100%;
    }

    .botonFixes {
        width: 100%;
        left: 0;
    }

    #datosPhone{
        border: 1px solid black;
        margin: 5px;
        padding: 5px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .conteinerDatos{
        display: flex;
    }
}