@media (min-width: 769px) {
    .linksNav{
        display: flex;
        color: white;
    }
    .link{
        
        padding: 0px 5px 0px 5px;
    }
    .heartIcon {
        position: absolute;
        top: 10px;
        right: 10px;

        font-size: xx-large;

    }

    #imagenTarjeta {
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }

    .buttonsTarjet {
        display: flex;
        justify-content: space-around;
    }

    #market {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        background-color: #4E7877;
        gap: 10px;
        padding: 10px;
    }

    .cardBody {
        background-color: #4EA5D9;
    }

    .colorBottomTarjet {
        background-color: #2A4494;
    }

    #footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 8vh;
        text-align: center;
        bottom: 0;
        z-index: 1000;
        background-color: #2A4494;
        color: white;
    }

    .navaDesk {
        display: flex;
        background-color: #244970;
        height: 20vh;
        width: 100%;
        align-items: center;
        border-radius: 0px 0px 10px 10px;

    }

    #h1TituloImagen {

        height: 10vh;
        object-fit: cover;
    }

    #h1Titulo {
        width: 100%;
        border-radius: 0px 0px 10px 10px;
        border: 1.5px solid #5C6A6B;
        padding: 5px;
        background-color: #2A4494;
    }

    #tarjetaDetalle {

        display: flex;
        align-items: center;
        background-color: #4E7877;
    }

    .imagenDetalle {
        margin-top: 10px;
        width: 50%;
        height: 70vh;
        object-fit: contain;
        background-color: #4EA5D9;
        border-radius: 10px 10px 0px 0px;

    }

    #bodytarjetaDetalle {
        width: 50%;
        margin-bottom: 10px;
        background-color: #224870;
        border: 3px solid #2A4494;
        border-radius: 0px 0px 10px 10px;
        color: white;
    }

    body {
        background-color: #4E7877;
    }

    #login {
        margin: 25px 20vh ;
        padding: 0px 15px 0px 15px;
        border: 1px solid #2A4494;
        border-radius: 10px;
        background-color: #5C6A6B;
    }

    #conteinerButomLogin {
        display: flex;
        justify-content: flex-start;
    }

    .colorBoton {
        background-color: #244970;
        margin: 5px;
    }

    #h1Titulo {
        width: 100%;
        border-radius: 0px 0px 10px 10px;
        background-color: #2A4494;
    }

    #registro {
        margin: 15px 10vh;
        padding: 5px;
    }

    #datosPhone {
        margin: 15px 5vh;
        padding: 5px;
        height: 100vh;
    }

    #formularioPublicacion {
        position: fixed;
        margin: 15px 5vh;
        padding: 5px;
    }

    h1 {
        font-size: x-large;
    }

    .imagenCarousel {
        width: 60vh;
        margin: auto;
        display: block;
    }
}

@media (max-width: 768px) {
    .heartIcon {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: xx-large;

    }

    .buttonsTarjet {
        display: flex;
        justify-content: space-around;
    }

    #tarjetaDetalle {
        margin: 65px 5px 0px 5px;
        background-color: #224870;
        border: 3px solid #2A4494;
        color: white;
    }

    #tarjeta {
        padding: 5px;
    }

    #market {
        margin-top: 90px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        ;
        background-color: #4E7877;
    }

    .cardBody {
        background-color: #4EA5D9;
    }

    .colorBottomTarjet {
        background-color: #2A4494;
    }


    .imagenDetalle {
        width: 100%;
        height: 60vh;
        object-fit: cover;
        background-color: #4EA5D9;
    }

    #imagenTarjeta {
        width: 100%;
        height: 25vh;
        object-fit: cover;
    }

    #login {
        margin: 30vh 15px 30vh 15px;
        padding: 10px;
        border: 1px solid #2A4494;
        border-radius: 10px;
        background-color: #5C6A6B;
    }

    #footer {
        width: 100%;
        text-align: center;
        bottom: 0;
        z-index: 1000;
        margin-bottom: 45px;
        background-color: #2A4494;
    }

    .conteinerDatos {
        display: flex;
    }

    #salirButtom {
        margin-top: 10px;
    }


    .bodytarjetaDetalle {
        background-color: #224870;
        color: white;
    }

    #registro {
        position: fixed;
        margin: 65px 5px 0px 5px;
        padding: 5px;
    }

    #h1Titulo {
        position: fixed;
        top: 0;
        width: 100%;
        border-radius: 0px 0px 10px 10px;
        border: 1.5px solid #5C6A6B;
        padding: 5px;
        z-index: 1000;
        background-color: #2A4494;
    }

    #h1TituloImagen {
        width: 60%;
        z-index: 1000;
        height: 9vh;
        object-fit: cover;
    }

    #imagenIzquierda {
        float: left;
    }

    body {
        background-color: #4E7877;
    }

    #menuContainer {
        position: fixed;
        z-index: 1000;
        bottom: 0;
        width: 100%;
        background-color: #4E7877;

    }

    .botonFixes {
        width: 100%;
        left: 0;
    }

    .colorBoton {
        background-color: #244970
    }

    .colorModal {
        background-color: #4EA5D9;
        border-radius: 5px;
    }

    #datosPhone {
        margin: 5px;
        padding: 5px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #formularioPublicacion {
        position: fixed;
        margin: 65px 5px 0px 5px;
        padding: 10px 15px 10px 15px;

    }

    #conteinerButomLogin {
        display: flex;
        justify-content: space-around;
    }
}